html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 70px; /* 50 for footer + 20 margin */
}

#footer {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    bottom: 0;
    height: 50px;
    position: absolute;
    width: 100%;
    }
    #footer .container {
        padding-top: 15px;
    }
